For n = 5. Print the following Pattern:-
11111
0000
111
00
1

In [16]:
n = int(input())

for i in range(1, n+1 , 1):
    for j in range(1, n-i+2, 1):
        if i%2 == 1:
            print(1, end = '')
        else:
            print(0, end = '')            
        k = k + 1        
    print()

7
1111111
000000
11111
0000
111
00
1

### Pyramid Pattern

Print the following pattern for a given n.
For eg. N = 6

1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6
    5 6
   4 5 6
  3 4 5 6
 2 3 4 5 6
1 2 3 4 5 6

First think of upper half
1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

In [33]:
n = int(input())
for i in range(1,n+1, 1):
    for spaces in range(1, i+1, 1):
        print(" ", end = '')
    for j in range(1, n+1, 1):
        if j < i:
            continue
        print(j, end = ' ')
    print()

6
 1 2 3 4 5 6
  2 3 4 5 6
   3 4 5 6
    4 5 6
     5 6
      6

### Now try the whole pyramid pattern

In [69]:
n = int(input())
for i in range(1,n+1, 1):
    for spaces in range(1, i+1, 1):
        print(" ", end = '')
    for j in range(1, n+1, 1):
        if j < i:
            continue
        print(j, end = ' ') 
    print()
for i in range(n, 2*n-1, 1):
    for spaces in range(2*n-i, 1, -1):
        print(" ", end = '')
    for k in range(2*n-i-1 ,n+1, 1):
        print(k, end = ' ')
    print()

5
 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

### Pattern

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

First divide the problem into half - The upper half

12345
 2345
  345
   45
    5

In [71]:
n = int(input())
for i in range(1,n+1,1):
    for spaces in range(1, i, 1):
        print(" ", end ='')
    for j in range(i, n+1, 1):
        print(j, end = '')
    print()

5
12345
 2345
  345
   45
    5

In [80]:
n = int(input())
for i in range(1,n+1,1):
    for spaces in range(1, i, 1):
        print(" ", end ='')
    for j in range(i, n+1, 1):
        print(j, end = '')
    print()
for i in range(n, 2*n - 1, 1):
    for spaces in range(2*n-i-1, 1, -1):
        print(" ", end = '')
    for k in range(2*n-i-1 ,n+1, 1):
        print(k, end = '')    
    print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

### Diamond Pattern

In [ ]:
If n = 7
   *
  ***
 *****
*******
 *****
  ***
   *

In [1]:
n=int(input())
n1=(n//2+1)
for i in range(1,n1+1):
    for s in range(1,n1-i+1):
        print(' ',end='')
    for i in range(1,2*i):
        print('*',end='')
    print()
n2=n-n1
for i in range(n2,0,-1):
    for s in range(1,n1-i+1):
        print(' ',end='')
    for i in range(1,2*i):
        print('*',end='')
    print()

7
   *
  ***
 *****
*******
 *****
  ***
   *

### Rectangular Numbers

In [ ]:
Pattern for N = 4

4444444
4333334
4322234
4321234
4322234
4333334  
4444444

### First divide the pattern into smaller parts. I think the below pattern is  fine

In [ ]:
 555555555
  4444444
   33333
    222
     1
    222
   33333
  4444444
 555555555

Now you can easily print numbers instead of spaces

In [1]:
n = int(input())
temp = n

for i in range(1,n+1):
    for spaces in range(1, i, 1):
        print(" ", end = '')
    for j in range(2*n - 2*i + 2, 1, -1):
        print(temp, end = '') 
    temp = temp - 1
    print()
temp = 2
for i in range(n, 1, -1):
    for spaces in range(i, 2, -1):
        print(" ", end = '')
    for k in range(2*n - i , i-3, -1):
        print(temp, end = '')
    temp = temp + 1
    print()

4
4444444
 33333
  222
   1
  222
 33333
4444444

Then print the numbers in place of spaces as I've done in the below pattern: 
Do not hurry divide the pattern in 4 quadrants and fill one by one as I've done the left and right side of the upper part of the pattern

N = 5

555555555
544444445
543333345
543222345
543212345
   222
  33333
 4444444
555555555

In [20]:
n = int(input())
temp = n

for i in range(1,n+1):
    for j in range(1, i, 1):
        for x in range(1, i, 2*i):
            print(n-j+1, end = '')
    for k in range(2*n - 2*i + 2, 1, -1):
        print(temp, end = '') 
    temp = temp - 1
    for j in range(i, 1, -1):
        for x in range(1, i, 2*i):
            print(n-j+2, end = '') 
    print()
temp = 2
for i in range(n, 1, -1):
    for spaces in range(i, 2, -1):
        print(" ", end = '')
    for k in range(2*n - i , i-3, -1):
        print(temp, end = '')
    temp = temp + 1
    print()

5
555555555
544444445
543333345
543222345
543212345
   222
  33333
 4444444
555555555

Now try to fill the lower half

In [60]:
n = int(input())
temp = n

for i in range(1,n+1):
    for j in range(1, i, 1):
        for x in range(1, i, 2*i):
            print(n-j+1, end = '')
    for k in range(2*n - 2*i + 2, 1, -1):
        print(temp, end = '') 
    temp = temp - 1
    for j in range(i, 1, -1):
        for x in range(1, i, 2*i):
            print(n-j+2, end = '') 
    print()
    
temp = 2
for i in range(n, 1, -1):
    for j in range(2, i, 1):
        print(n - j + 2, end = '')
    for k in range(2*n - i , i-3, -1):
        print(temp, end = '')
    for x in range(i-1, 1, -1):
        print(n - x + 2, end = '')
    temp = temp + 1
    print()

5
555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

### Print the Pattern

Pattern for N = 5

Observe the pattern carefully:-
                             Pattern
 1    2   3    4   5     --> 0 * N + i      # First N is multiplied by 0,2,4 (Even Numbers) then added to i
 11   12  13   14  15    --> 2 * N + i 
 21   22  23   24  25    --> 4 * N + i 
 16   17  18   19  20    --> 3 * N + i      # Then N is multiplied by 3(<4), 1 (Odd Numbers) then added to i   
 6    7    8   9   10    --> 1 * N + i

In [106]:
n = int(input())
k = 0
n1 = n - n//2
for i in range(1, n1 + 1):
    for j in range(1, n+1):
        print(k * n + j, end = '')
    print()
    k = k + 2
n2 = n - n1
if n % 2 == 0:
    k = n - 1
else:
    k = n - 2
for i in range(1, n2 + 1):
    for j in range(1, n + 1):
        print(k * n + j, end = '')
    print()
    k = k - 2

4
1234
9101112
13141516
5678